.posts-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.introduction {
  width: 500px;
  line-height: 1.3em;
}

.introduction__paragraph {
  margin: 0;
}

.introduction__paragraph + .introduction__paragraph {
  margin-top: 15px;
}

.posts-list {
  width: 500px;
  margin-top: 60px;
}

.posts-list__caption {
  margin-bottom: 15px;
}

.posts-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.posts-list__item-date {
  font-size: 16px;
}
