.post-page {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 60px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.post__header {
  width: 700px;
  margin-bottom: 26px;
}

.post__title {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
}

.post__date {
  font-size: 16px;
}

.post__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post__paragraph {
  width: 700px;
  margin: 0 0 18px 0;
  line-height: 1.35;
  letter-spacing: 0.016em;
}

.post__section-title {
  width: 700px;
  margin: 20px 0 15px 0;
  font-size: 34px;
  font-weight: 800;
}

.post__image {
  max-width: 700px;
  margin-bottom: 34px;
}

.post__section-header {
  width: 700px;
}

.post__code-block {
  display: flex;
  justify-content: center;
  width: 700px;
  margin-bottom: 34px;
}

.post__list {
  width: 700px;
  margin: 0;
}

.post__list-item + .post__list-item {
  margin-top: 15px;
}

.code-block {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #F6F8FA;
}

.code-block__lines-block {
  padding: 10px 34px;
}

.code-block__title {
  position: absolute;
  top: 5px;
  right: 8px;
  padding: 4px 8px;
  font-size: 16px;
  color: #616F78;
}

.code-block__added-line {
  position: relative;
  background-color: #E1F2E6;
}

.code-block__added-line:before {
  display: block;
  position: absolute;
  content: '+';
  bottom: 25%;
  left: 11px;
  color: #72AD84;
  font-weight: 800;
}

.inline-code-block {
  background-color: #F6F8FA;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 18px;
}
