html {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

pre {
  margin: 0;
}

a:link,
a:visited {
  padding-bottom: 0px;
  color: #0073BA;
  border-bottom: 2px solid #A9D8F5;
  font-weight: 400;
  text-decoration: none;
  transition-property: color, border-color;
  transition-duration: 70ms;
}

a:visited {
  color: #48AFF0;
}

a:hover,
a:visited:hover {
  color: #0084D6;
  border-color: #0084D6;
}

